# === IGNORE LARGE PROJECT FOLDERS ===
data/
models/
output/
notebooks/

# Ignore dataset files
*.csv

# Ignore model files
*.pkl
*.keras
*.json

# === JUPYTER NOTEBOOK CACHE ===
**/.ipynb_checkpoints/
*.ipynb

# === OUTPUT IMAGES ===
*.jpg
*.jpeg
*.png

# === STREAMLIT SECRETS ===
.streamlit/secrets.toml

# === VSCODE SETTINGS ===
.vscode/

# === PYTHON & SYSTEM FILES ===
__pycache__/
*.pyc
*.pyo

# === ENVIRONMENTS ===
.env
.venv/
env/
venv/

# === LOG FILES ===
*.log
